<div class="jumbotron text-center"> 
	<h1>Search</h1>
	<form class="form row" ng-submit="search.search()">
		<div class="input-group col-xs-8 col-xs-offset-2">
			<input type="text" class="form-control" ng-model="search.searchData.general">
			<span class="input-group-btn">
				<button class="btn btn-success" type="submit">
					Search
				</button>
			</span>
		</div>
	</form>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="pull-right">
				<a href="#advanced" data-toggle="collapse"><small>Advanced search</small></a>
			</div>
		</div>
	</div>
	<div id="advanced" class="collapse">
		<form class="form form-inline row" ng-submit="search.search()">
			<div class="form-group">
				<div class="row small-margin">
					<div class="col-xs-3">
						<label class="vcenter">Title:</label>
					</div>
					<div class="col-xs-9">
						<input type="text" class="form-control" ng-model="search.searchData.title">
					</div>
				</div>

				<div class="row small-margin">
					<div class="col-xs-3">
						<label class="vcenter">Subject:</label>
					</div>
					<div class="col-xs-9">
						<input type="text" class="form-control" ng-model="search.searchData.subject">
					</div>
				</div>

				<div class="row small-margin">
					<div class="col-xs-3">
						<label class="vcenter">Author:</label>
					</div>
					<div class="col-xs-9">
						<input type="text" class="form-control" ng-model="search.searchData.author">
					</div>
				</div>

				<div class="row small-margin">
					<div class="col-xs-3">
						<label class="vcenter">ISBN:</label>
					</div>
					<div class="col-xs-9">
						<input type="text" class="form-control" ng-model="search.searchData.isbn10">
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6 col-xs-offset-3">
						<button type="submit" class="btn btn-success">Search</button>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>
<div class="row">
	<!-- Results Panel -->
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<h3>{{ search.resultsMessage }}</h3>
				</div>
			</div>
			<div class="panel-body">
				<div ng-repeat="result in search.results">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-10"><big><strong>{{ result.title }}</strong></big></div>
								<div class="col-sm-2"><em class="pull-right">{{ result.price | currency }}</em></div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-10">
								<table class="table table-striped table-bordered table-condensed">
									<tbody>
										<tr>
											<td class="col-sm-2">Author</td>
											<td class="col-sm-4">{{ result.author }}</td>
											<td class="col-sm-2">Condition</td>
											<td class="col-sm-4">{{ result.condition }}</td>
										</tr>
										<tr>
											<td class="col-sm-2">Edition</td>
											<td class="col-sm-4">{{ result.edition }}</td>
											<td class="col-sm-2">ISBN</td>
											<td class="col-sm-4">{{ result.isbn10 }}</td>
										</tr>
										<tr>
											<td class="col-sm-2">Location</td>
											<td class="col-sm-4">{{ result.location_in_store }}</td>
											<td class="col-sm-2">Subject</td>
											<td class="col-sm-4">{{ result.subject }}</td>
										</tr>
									</tbody>
								</table>
								</div>
								<div class="col-sm-2">
									<div class="row">
									<button class="col-sm-8 col-sm-offset-2 btn btn-info" ng-click="search.reserve(result)">Reserve</button>
									</div>
									<br>
									<div class="row">
									<button class="col-sm-8 col-sm-offset-2 btn btn-success" ng-click="search.sell(result)">Sell</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
