<!DOCTYPE html>
<html>
<head>
</head>
<body>

<% include ../partials/nav %>

<h1>LOGIN TO USE SUBTEXT SERVICE</h1>

<div id = "Login Info">



<form align = "center">
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="text" name="password">
	<Br><Br>
  <input type="submit" value="Submit">

</form>

</div>

</div>


</body>
<html>