<DOCTYPE html>
<html>
	<head>
	  <% include ../partials/header.ejs %>
	</head>
	<body ng-app="app">
		<% include ../partials/nav.ejs %>
		<div class="container" ng-controller="mainController">
			<h2>Mongo Database Results</h2>
			<ul>
				<p>Some stuff will go here: <%= val %></p>
			</ul>
		</div>
	</body>
</html>
